/* .bg01 {
    background-repeat: no-repeat;
    background: #efe7da;
}

.bg02 {
    overflow: visible;
}

ul.bottom-menu li,
ul.top-menu li {
    list-style-type: none;
    display: inline-block;
}

ul.top-menu li a {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-width: 1px;
}

.intro-text {
    font-family: Myriad Pro;
    font-size: 16pt;
}



.webdev-portfolio div.row img {
    background-color: #fff;
    margin: 15px;
}

.porfolio_img {
    border: 1px solid #000;
} */
.bg01 {
    background-image: linear-gradient(to right, rgb(253, 134, 92) 8.70588%, rgb(202, 73, 71) 100%);
    background-repeat: no-repeat;
}

bg03 {
    background: #333;
}
